<div class="container">
  <div class="row">

    <img src="{{book.image_url}}" class="col-xs-4"></img>
    <div class="details col-xs-8">
      <div class="row">
        <div id="header" class="col-xs-12"><h2>{{book.title}}</h2><h2 class="subtitle-text">{{book.subtitle}}</h2></div>

        <div class="col-xs-4 author-label"><h5>Author:</h5></div>
        {{#each authors}}
          <div class="col-xs-8 author-name"><h5>{{name}}</h5></div>
        {{/each}}
      </div>
      <div class="row">
        <div class="col-xs-4 genre-label"><h5>Genre:</h5></div>
        {{#each genres}}
          <div class="col-xs-8 genre-name"><h5>{{name}}</h5></div>
        {{/each}}
        <div class="summary col-xs-12">
          <h2>Book Summary</h2>
          <p>{{book.description}}</p>
      </div>
      <a class="btn btn-danger" href="/admin/book/delete/{{book.id}}">Delete</a>
    </div>
  </div>
</div>
</div>
