<div id="header" class="main-color"><h1>Library App</h1></div>
<div id="books-container" class="container-fluid">
<div id="books" class="row">
  <!-- <div class="padding col-xs-1"></div> -->
    {{#each books}}
      <a href="/book/{{id}}">
        <div class="book col-xs-3 box-color">
          <div class="row book-row">
            <div class="book-title col-xs-12">{{title}}</div>
            <div class='col-xs-8 padding'></div>
            <div class='col-xs-4 author'>{{author}}</div>
            <div class="col-xs-2 padding"></div>
            <img class="book-image col-xs-8" src="{{image_url}}" width="100px" height="100px" />
            <div class="col-xs-2 padding"></div>
            <div class="book-description col-xs-12">{{description}}</div>
          </div>
        </div>
      </a>
    {{/each}}
      <!-- <div class="padding col-xs-1"></div> -->
</div>
</div>

<div id="footer" class="container-fluid main-color">

<a class="col-xs-2 btn btn-default" href="/?page={{page}}"  >Next</a>
<a class="col-xs-2 btn btn-default" href="/?page={{pageBack}}"  >Previous</a>
  <!-- <h1 class="col-xs-8">Page:{{page}}</h1>
<button class="col-xs-2"></button></div> -->
