<div id="header">Library App</div>
<div id="books">
    {{#each books}}
      <a href="/book/{{id}}">
        <div class="book">
          <div class="book-title">{{title}}, {{author}}</div>
          <img class="book-image" src="{{img_url}}" width="100px" height="100px" />
          <div class="book-description">{{description}}</div>
        </div>
      </a>
    {{/each}}
</div>
